/* General */
main {
   
    margin: 0 auto;

}

.gtblog{
    margin-left: 40px;
    margin-right: 40px;
}

span{ color: rgb(224, 85, 85);
    /* font-weight: bold; */
    font-style: italic;
}

h1 {
    font-size: 30px;
    /* margin: 20px; */
}
 
 img {
    /* margin: 15px;
    padding: 10px; */

    width: 100%; 
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(2, 57, 21, 0.5);
    cursor: pointer;
} 

img:hover {
    box-shadow: 0 0 2px 1px rgba(211, 38, 233, 0.5);


}

/* Subscription section */

.noDot{
    /* text-align: center; */
    margin: 15px;
    /* padding: 10px; */

}

.noDot ul {
    font-size: 16px;
    list-style: none;
}

.noDot span{

    font-style: italic;
    /* font-weight: bold; */
    font-size: 20px;
    color: cadetblue;

}

.gtsubscription {
    text-align: center;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "gtformcontainer"
        "gtformcontainer";

}
/* .gtformcontainer{
grid-area: gtformcontainer;
display: flex;
background-color: rgb(159, 157, 157);
width: 100%;
flex-wrap: wrap;
justify-content: center;
padding: 20px;
box-sizing: border-box;
} */

@media screen and (max-width: 800px) {
    .gtsubscription {
        grid-template-columns: 1fr;
        grid-template-areas:
        "gtformcontainer"
        "gtformcontainer";

            
    }
}
/* .gtsubscription { */
    /* background-color: #28a745; */
    /* text-align: center;
} */

/* .gtsubscription, .gtreviewlinks, .gtformcontainer{
    text-align: center;

    
} */
/* start for subscription in form */

/* form property */
.gtformcontainer {
    background-color: #fff;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left:auto;
    margin-right:auto;
    width: 600px;
}

.form {
    padding: 10px 20px;
}


.gtextfield, .btn {
    margin: 20px;
    padding: 5px;
}

.gtextfield label {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.gtextfield input {
    border: solid 2px #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    
    display: block;
    width: 100%;
}

.gtextfield input:focus {
    outline: none;
}

.gtextfield.error input {
    border-color: var(--error-color);
}

.gtextfield.success input {
    border-color: var(--success-color);
}


.gtextfield small {
    color: var(--error-color);
}

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

/* button */

.btn button {

    margin-bottom: 16px;
}

#signBtn{
    width: 100%;
    padding: 3%;
    background: #037d52;
    border-bottom: 2px solid #037d52;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
#restBtn{
    width: 100%;
    padding: 3%; 
    background: #582502;
    border-bottom: 2px solid #582502;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
   
#signBtn:hover, #restBtn:hover{
    background-color: rgb(72, 39, 82);}
.btn:hover {
    outline: none;
}
/* end for subscription */

/* review section */
.gtreviewlinks {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "bgoverlay";

}
@media screen and (max-width: 800px) {
    .gtreviewlinks {
        grid-template-columns: 1fr;
        grid-template-areas:
        "bgoverlay";

            
    }
}

/* .overlayContent{
text-align: center;
    position: relative;
  
}
/* .overlayContent img{

    width: 100%; 
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(2, 57, 21, 0.5);
    cursor: pointer;
    } */
.overlayBlock{
    position: absolute;
    /* bottom: 20px;
    right: 20px; */
    /* background-color: black; */
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
    text-decoration: none;
   
    text-align: left;
    width: 100%;
    height: 100%;
} */

/* .overlayBlock:hover {
    background-color: rgba(0,0,0,0.4);
} */

/* .overLink {
    position: absolute;
    color: white;
    text-decoration: none;
    left: 0;
    top: 55%;
    text-align: left;
    width: 100%;
    height: 100%;

} */
/* .gtreviewlinks{ */
    /* background-image: url("../../pics_blog_review/Dark\ Sky\ Preserves.jpg"); */
      /* background-color: #cccccc; */
        /* position: relative; */
        /* background-image: */
        /* background-size: cover; */
    /* } */

/* 
#overlay {
    position:  absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(150, 237, 210, 0.5);
    z-index: 2;
    cursor: pointer;
  }

  .bgoverlay{
    padding:20px;

  } */

/* below Doyoung made it */
.gtreviewlinks {
    padding: 100px 100px;
    text-align: center;
    
}

/* .bgoverlay {
    position: relative;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} */

.bgoverlay{
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    text-align: center;
    /* background-color: bisque; */
    /* border: 2px solid rgb(62, 93, 71); */
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgb(76, 87, 76);
    position: relative;
    z-index: 1;
    margin: 20px;
    padding: 20px;
    }

.overlayBlock {
 
    position: absolute;
    background-color: rgba(0,0,0,0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.overlayPara, .overlayHead {
    width: 70%;
    padding-left:40px;
    padding-right:20px;
}

.overLink {
    position: absolute;
   
    color: white;
    text-decoration: none;
    left: 0;
    top: 30%;
    text-align: right;
    width: 100%;
    height: 100%;
   

}

.overlayBlock:hover {
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}


.overlayContent {
    text-align: center;
}


/* blog review grid part */
.gtgrid {
    display: grid;
    min-width: 100%;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "gtreview1 gtreview2 gtreview3"
        "gtreview4 gtreview5 gtreview6";

}

/* @media rule for various screen sizes*/

@media screen and (max-width: 800px) {
    .gtgrid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "gtreview1" "gtreview2" "gtreview3"
        "gtreview4" "gtreview5" "gtreview6";
            
    }
}
/* .gtgrid { */
    /* grid-area: gtgrid; */
    /* background-color: rgb(159, 157, 157); */
    /* min-width: 100%; */
    /* display: flex; */
    /* flex-direction: column;
    flex-wrap: wrap; */
    /* justify-content: center; */
    
    /* box-sizing: border-box; */
  

/* } */


.gtgrid h3 {
    text-align: center;
    background-color: rgb(59, 59, 69);
    color: azure;
    border-radius: 5px;
    padding: 5px;
}


.gtreview1, .gtreview2, .gtreview3, .gtreview4, .gtreview5, .gtreview6{
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    background-color: bisque;
    border: 2px solid rgb(62, 93, 71);
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgb(76, 87, 76);
    position: relative;
    /* z-index: 1; */
    margin: 20px;
    padding: 20px;

    /* margin: 5px;
    background-color: rgb(238, 238, 238);
    flex: 0 0 20%;
    padding: 2px;
    border: 1px solid black;
    border-radius: 0.5em; */
    /* text-align: center; */

}

.gtgrid ul li {

    /* margin: 10px 10px 10px 25px; */
    color: rgb(103, 22, 7);
    font-weight: lighter;
    list-style-type: none;
    text-indent: 1em;
    text-align: start;
}

