/* Assignement 2 Group 7_Rong Ran */

/* General */

main {
   
    margin: 0 auto;
    background-color: rgb (242, 238, 234);
    
}

.gtblog{
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
h2{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

}
 img {
    /* margin: 15px;
    padding: 10px; */

    width: 100%; 
    border-radius: 5px;
    /* box-shadow: 5px 10px 10px rgba(2, 57, 21, 0.5); */
    cursor: pointer;
} 
img:hover {
    box-shadow: 0 0 2px 1px rgba(211, 38, 233, 0.5);
}
.footerLogo {
    height: 100px;
    width:100px;
}

.headerLogo:hover, .footerLogo:hover, .goToTop img:hover {
    box-shadow: none;
}

/* Subscription section */

.noDot{
     margin: 15px;
 
}

.noDot ul {
    font-size: 16px;
    list-style: none;
}

.noDot span{

    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    color: cadetblue;

}

.gtsubscription {
    text-align: center;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "gtformcontainer"
        "gtformcontainer";
        

}
/* @media rule for various screen sizes*/
@media screen and (max-width: 800px) {
    .gtsubscription {
        grid-template-columns: 1fr;
        grid-template-areas:
        "gtformcontainer"
        "gtformcontainer";

            
    }
}

/* start for subscription in form */
/* form property */
.gtformcontainer {
    margin-top: 80px;
    background-color: rgb(250, 244, 245);
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left:auto;
    margin-right:auto;
    width: 600px;
}

.form {
    padding: 10px 20px;
}

.gtextfield, .btn {
    margin: 20px;
    padding: 5px;
}

.gtextfield label {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.gtextfield input {
    border: solid 2px #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 96%;
}

.gtextfield input:focus {
    outline: none;
}

.gtextfield.error input {
    border-color: var(--error-color);
}

.gtextfield.success input {
    border-color: var(--success-color);
}


.gtextfield small {
    color: var(--error-color);
}

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

/* button */

.btn button {

    margin-bottom: 16px;
}

#signBtn{
    width: 100%;
    padding: 3%;
    background: rgb(45,80,45);
    border-bottom: 2px solid rgb(45,80,45);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
#restBtn{
    width: 100%;
    padding: 3%; 
    background: #987976;
    border-bottom: 2px solid #987976;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
   
#signBtn:hover, #restBtn:hover{
    background-color: rgb(72, 39, 82);}
.btn:hover {
    outline: none;
}
/* end for subscription */

/* review section */
.gtreviewlinks {
    margin-top: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "bgoverlay";

}
/* @media rule for various screen sizes*/
@media screen and (max-width: 800px) {
    .gtreviewlinks {
        grid-template-columns: 1fr;
        grid-template-areas:
        "bgoverlay";
    }
}


.overlayBlock{
    position: absolute;
   
    color: white;
   
    text-decoration: none;
   
    text-align: left;
    width: 100%;
    height: 100%;
} */


.gtreviewlinks {
    padding: 100px 100px;
    text-align: center;
    
}

.bgoverlay{
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgb(76, 87, 76);
    position: relative;
    z-index: 1;
    margin: 20px;
    padding: 20px;
    }

.overlayBlock {
 
    position: absolute;
    background-color: rgba(0,0,0,0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.overlayPara, .overlayHead {
    width: 70%;
    padding-left:40px;
    padding-right:20px;
}

.overLink {
    position: absolute;
    color: white;
    text-decoration: none;
    left: 0;
    top: 30%;
    text-align: right;
    width: 100%;
    height: 100%;
   
}

.overlayBlock:hover {
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.overlayContent {
    text-align: center;
}


/* blog review grid part */
.gtgrid {
    display: grid;
    min-width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "gtreview1 gtreview2 gtreview3"
        "gtreview4 gtreview5 gtreview6";

}

/* @media rule for various screen sizes*/
@media screen and (max-width: 800px) {
    .gtgrid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "gtreview1" "gtreview2" "gtreview3"
        "gtreview4" "gtreview5" "gtreview6";
            
    }
}

.gtgrid h3 {
    text-align: center;
    background-color: #987976;
    color: azure;
    border-radius: 5px;
    margin:20px 0;
    padding: 5px;
}


.gtreview1, .gtreview2, .gtreview3, .gtreview4, .gtreview5, .gtreview6{
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    background-color: #dfd6d1;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgb(76, 87, 76);
    position: relative;
    margin: 20px;
    padding: 20px;
   

}

.gtgrid ul li {
    color: rgb(103, 22, 7);
    font-weight: lighter;
    list-style-type: none;
    text-indent: 1em;
    text-align: start;
}

