/* general */

* {
    padding: 0;
    margin: 0;
    min-height: fit-content;
}
body{
    background-color:#FFF6BF ;
}

p {
    padding: 10px;
}

ul {
    vertical-align: 540px;
    padding-right: 40px;
}

.companyName ul {
    vertical-align: 0px;
    padding-right: 0px;
}



.companyName {
    font-family: 'Nerko One';
}

h1 {
    display: flex;
}

h2, h3 {
    padding: 0 10px;
}

select {
    padding: 10px;
    font-size: 14px;
    border-radius: 16px;
}

/* promotion */

.promotionPackage {
    padding-top: 50px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
}

.slides {
    top: 60px;
    width: 1000px;
    height: 550px;
    position: absolute;
    transition: all 1.5s ease-out;
    opacity: 1;
}

.promoIMG {
    width: 100%;
    height: 400px;
}

.promo1 {
    background: url(../img/package/Banff&LakeLouise.jpg) no-repeat 100% 90%;
}

.promo2 {
    background: url(../img/package/mountain.jpg) no-repeat 30%;
}

.promo3 {
    background: url(../img/package/Banff&LakeLouise.jpg) no-repeat 50%;
    ;
}

.promo4 {
    background: url(../img/package/mountain.jpg)no-repeat 30%;
    ;
}

.promo5 {
    background: url(../img/package/Banff&LakeLouise.jpg);
}

#promotionTitle {
    padding-top: 250px;
    padding-left: 30px;
    position: absolute;
    color: white;
    font-size: 50px;
}

.heading {
    display: flex;
    flex: wrap;
    float: right;
}

.promotionPackage .heading {
    display: flex;
    flex: wrap;
    float: right;
    margin-top: -30px;
}

.packageP {
    display: flex;
}

/* search */

.package-search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#searchBar {
    width: 50%;
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 16px;
    border: solid grey 2px;
}


/* tour package */

.search-packageTitle {
    display: list-item;
    list-style: none;
    margin: 10px 200px;
}

.tourPackage {
    border: solid #ABD9FF 2px;
    border-radius: 14px;
    background-color: #C3F8FF;
    
    padding: 10px;
}

#package-resetButton {
    padding: 10px 30px;
    color: rgb(45, 80, 45);
    font-size: 16px;
    border-radius: 16px;
    background-color: #C3F8FF;
    border: solid #ABD9FF;
}

#package-resetButton:hover {
    background-color: rgb(45, 80, 45);
    color: white;
}

#provinceDropDown {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media screen and (max-width:900px) {

    .slides {
        max-width: 700px;
        margin: 0 auto;
    }

    .promotionPackage h2 {
        max-width: 700px;
        margin: 0 auto;
        display: block;
        max-width: 60%;
        text-align: center;
    }

    .slides .packageP {
        max-width: 400px;
        text-align: center;
        display: block;
        margin: 25px auto;
    }

    .promotionPackage .heading {
        max-width: 600px;
        display: flex;
        padding-top: 30px;
        padding-right: 250px;
        padding-left: -100px;
    }

    .promotionPackage .promoIMG {
        max-width: 60%;
        margin: 0px auto;
    }

    li {
        max-width: 700px;
        list-style: none;
        margin: 10px auto;
        min-width: 400px;
        padding: 0 22px;
    }

    #promotionTitle {
        font-size: 40px;
        padding-left: 145px;
    }

    .package-search{
        margin: 10px auto;
        padding-top: 30px;
    }

}