* {
    max-width: 1080px;
    margin: auto;
    
}

.tourPackage {
    border: solid black 2px;
    background-color: lightblue;
    padding: 10px;
}

.heading {
    display: flex;
    flex:wrap;  
    float: right;
}

h3 {
    padding: 0 10px;
}

p {
    padding: 10px;
}

.packageP {
    display: flex;
}

ul{
    vertical-align: 540px;
    padding-right: 40px;
}

li {
    list-style: none;
    margin: 10px 0;
}

img{
    width: 100%;
    display: flex;
    padding: 20px 0;
}

.package-search{
display: flex;  
text-align: center;
width: 90%;
margin: 20px auto;
}

#searchBar{width: 60%;
    padding: 10px;
    font-size: 16px;
}

#package-resetButton{
    padding: 10px 30px;
    font-size: 16px;
}

h1{
    display: flex;
}

.search-packageTitle{
    display: list-item;
}

.promotionPackage{
    padding: 10px 0;
}

#provinceDropDown{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
select{
    padding: 2px;
font-size: 14px;
}