* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather';
    min-height: fit-content;
}

.headerNav {
    display: flex;
    flex: wrap;
}

.tourPackage {
    border: solid black 2px;
    border-radius: 14px;
    background-color: lightblue;
    padding: 10px;
}

.heading {
    display: flex;
    flex: wrap;
    float: right;
}

p {
    padding: 10px;
}

.packageP {
    display: flex;
}

ul {
    vertical-align: 540px;
    padding-right: 40px;
}

li {
    list-style: none;
    margin: 10px 200px;
}

img {
    width: 100%;
    display: flex;
}

.package-search {
    display: flex;
    text-align: center;
    width: 100%;
    margin: 10px 200px;
}

#searchBar {
    width: 50%;
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 16px;
    border: solid grey 2px;
}

#package-resetButton {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 16px;
}

h1 {
    display: flex;
}

h2 {
    padding: 0 10px;
}


h3 {
    padding: 0 10px;
}


.search-packageTitle {
    display: list-item;
}

.promotionPackage {
    padding: 0px 150px;
}

#provinceDropDown {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

select {
    padding: 10px;
    font-size: 14px;
    border-radius: 16px;
}

.topMenu {
    float: right;
    width: 100%;
}

.headerLogo {
    margin: auto;
    margin-left: 150px;
}

.companyName {
    margin-left: 55px;
}

#promotionTitle {
    padding-top: 250px;
    padding-left: 30px;
    position: absolute;
    color: white;
    font-size: 50px;
}