/* Assignment 2 Group 7_Rong Ran */
main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    background-color: rgb(242, 238, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

/* start for Sign-up and log in form */
.gtwelcome, .noDot{
    text-align: center;
    margin: 15px;
}

.noDot ul {
    font-size: 16px;
    list-style: none;
}

.noDot a, .noDot a:visited {
    text-decoration: none;
    font-size: 11pt;
    color: rgb(36, 36, 217);
}

.signupLogo {
    width: 30%;
    margin: 15px;
    padding: 10px;
}

.gtformcontainer {
    /* background-color: #fff; */
    background-color: rgb(250, 244, 245);
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 400px;
    margin:20px;
}

.gtextfield, .btn {
    margin: 20px;
    padding: 5px;
}

.gtextfield label,.themeSubject, .citySubject {
    display: block;
    margin-bottom: 5px;
}

.gtextfield label::placeholder {
    color: #777;
}

.gtextfield input, .travelprovince select, .traveltheme select {
    border: solid 2px #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    display: block;
    width: 95%;
}

.travelprovince select::placeholder {
    color: #777;
}

.travelprovince select, .traveltheme select {
    margin-bottom: 15px;
    width: 100%;
}

.travelprovince, .traveltheme{
    margin-left: 16px;
    margin-right: 16px;
    padding: 10px;
}

.gtextfield input:focus {
    outline: none;
}

.gtextfield.error input {
    border-color: var(--error-color);
}

.gtextfield.success input {
    border-color: var(--success-color);
}

.gtextfield small {
    color: var(--error-color);
}

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

/* button */

.btn button {

    margin-bottom: 16px;
}

#signBtn, #signBtn2{
    width: 100%;
    padding: 3%;
    background: rgb(45,80,45);
    border-bottom: 2px solid rgb(45,80,45);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    
}
#restBtn{
    width: 100%;
    padding: 3%; 
    background: #987976;
    border-bottom: 2px solid #987976;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
#signBtn:hover, #signBtn2:hover, #restBtn:hover{

    background-color: rgb(72, 39, 82);
}

.btn:focus {
    outline: none;
}
/* end for Sign-up and log in */

/* searching bar - sort by*/ 

.loginLink {
    color: #037d52;
}

.loginLink:visited {
    color: #037d52;
}


