/* General */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Header */

.headerNav {
    text-align: right;
    background-color: rgb(244,244,244);
    padding-right: 15px;
    margin: 0;
}

.headerLogo {
    height: 30px;
    float: left;
    margin: 10px;
}
.companyName {
    float: left;
}

.topMenu {
    display: inline-block;
}

.topMenu a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    margin: 0;
    color: rgb(45,80,45);
    font-size: 11pt;
}

.topMenu a:hover {
    background-color: rgb(45,80,45);
    color: white;
    padding: 20px;
    margin: 0;
}

/* Promotion */

.promotionSlider {
    width: 100%;
    text-align: center;
    position: relative;
    animation-name: imageFade;
    animation-duration: 1.5s;
    background-color: blanchedalmond;
}

.image {
    width: 900px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
}

@keyframes imageFade {
    from {opacity: .0}
    to {opacity: 1}
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttons {
    position: relative;
    width: 900px;
    background-color:rgb(85, 33, 106);
}

.controller {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 40px;
    bottom: 25px;
    padding: 10px;
    border-radius: 50px;
}

.prev, .next, .stop {
    cursor: pointer;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    transition: 0.6s ease;
}

.stop {
    font-size: 16pt;
    vertical-align: 2px;
}

.captionNumber {
    color: #f2f2f2;
    font-size: 16pt;
    padding: 10px 20px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    background-color: rgba(0,0,0,0.6);
    border-radius: 30px;
}

/* Recommdation */

.recommdation {
    position: relative;
    background-color: white;
    margin-top: 50px;
}

.recommedTitle {
    display: inline;
    padding: 50px;
}

.link {
    margin-right: 50px;
    padding: 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(216, 216, 216);
}


.mainReommendGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas: 
     "largeGrid largeGrid barGrid barGrid"
     "largeGrid largeGrid smallGrid1 smallGrid2"
    ;
    margin-left: auto;
    margin-right: auto;
}

.largeGrid, .barGrid, .smallGrid1, .smallGrid2 {
    margin: 20px;
    transition: all 0.5s linear;
}

.largeGrid {
    grid-area: largeGrid;
}

.barGrid {
    grid-area: barGrid;
}

.smallGrid1 {
    grid-area: smallGrid1;
}

.smallGrid2 {
    grid-area: smallGrid2;

}

.gridContent, .lgContent {
    color: white;
    position: relative;
    top: 180px;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    text-align: center;
}

.lgContent {
    top: 480px;
}

.visuallyHidden {
    opacity: 0;
}

.vanRecommendTour1, .vanRecommendTour2, .vanRecommendTour3, .vanRecommendTour4 {
    background: linear-gradient(rgba(45,80,45,0),rgba(45,80,45,0)), url('../img/index/vancouver1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.calRecommendTour1, .calRecommendTour2, .calRecommendTour3, .calRecommendTour4 {
    background: linear-gradient(rgba(45,80,45,0),rgba(45,80,45,0)), url('../img/index/calgary1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Themem */
.travelTheme1 {
    background-color: antiquewhite;
}

.theme1Title {
    padding: 50px;
}

.mainTheme1Grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    grid-template-areas: 
     "themeGrid1 themeGrid2 themeGrid3"
     "themeGrid4 themeGrid5 themeGrid6"
    ;
    margin-left: auto;
    margin-right: auto;
}


.themePara {
    padding-top: 10px;
    margin-bottom: 0;
}

.themeLink {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.themeGrid1, .themeGrid2, .themeGrid3, .themeGrid4, .themeGrid5, .themeGrid6 {
    position: relative;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.themeGrid1 {
    grid-area: themeGrid1;
}

.themeGrid2 {
    grid-area: themeGrid2;
}

.themeGrid3 {
    grid-area: themeGrid3;
}

.themeGrid4 {
    grid-area: themeGrid4;
}

.themeGrid5 {
    grid-area: themeGrid5;
}

.themeGrid6 {
    grid-area: themeGrid6;
}


.theme1Img {
    height: 300px;
    border-radius: 15px;
    background-image: url('../img/index/beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
}

/* footer */
.footerNav {
    background-color: rgb(244,244,244);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 80px;
    position: relative;
    box-sizing: border-box;
}

.bottomLine {
    border: none;
    height: 1px;
    background-color: rgb(185,187,189);
}

.indexContainer {
    text-align: center;
    margin-top: 50px;
}

.footerLogo {
    height: 100px;
}

.siteIndex {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 200px;
    list-style-position: inside;
}

.siteIndex p{
    color: rgb(128, 131, 133);
    font-family: arial;
    font-size: 11pt;
    margin-top: 15px;
}

.goToTop {
    display: none;
}

.newGoToTop {
    display: block;
    border-radius: 50%;
}

.newGoToTop img {
    position: fixed;
    width: 50px;
    bottom: 100px;
    right: 50px;
    border-radius: 50%;
    filter: drop-shadow(3px 3px 4px rgb(0, 0, 0,0.3));
}